<launch>

	<arg name = "freq" default = "5" />
	<arg
		name = "rosbagEnable"
		default = "false"
	/>
	<node
		pkg = "beginner_tutorials"
		type = "talker"
		name = "talker"
		output = "screen"
		args = "$(arg freq)"
	/>

	<node
		pkg = "beginner_tutorials"
		type = "listener"
		name = "listener"
		output = "screen"
		launch-prefix = "xterm -e"
	/>

	<node
	  	pkg="rosbag"
	  	name="record"
	  	type="record"
	  	args="--duration=15 -a -O $(find beginner_tutorials)/Results/rec"
	  	if="$(arg rosbagEnable)"
  	/>
</launch>
